.fa-xs{
    font-size: .55rem !important; 
}
.fa-sm{
    font-size: .875rem !important;
}
.fa-lg{
    font-size: 1.15rem !important;
}
.fa-2x{
    font-size: 2rem !important;
}
.fa-3x{
    font-size: 3rem !important;
}
.fa-4x{
    font-size: 4rem !important;
}
.fa-5x{
    font-size: 5rem !important;
}
.fa-6x{
    font-size: 6rem !important;
}
.fa-7x{
    font-size: 7rem !important;
}
.fa-8x{
    font-size: 8rem !important;
}
.fa-9x{
    font-size: 9rem !important;
}
.fa-10x{
    font-size: 10rem !important;
}