.img-xs {
    width: .55rem !important;
}

.img-sm {
    width: .875rem !important;
}

.img-lg {
    width: 1.45rem !important;
}

.img-2x {
    width: 2rem !important;
}

.img-3x {
    width: 3rem !important;
}

.img-4x {
    width: 4rem !important;
}

.img-5x {
    width: 5rem !important;
}

.img-6x {
    width: 6rem !important;
}

.img-7x {
    width: 7rem !important;
}

.img-8x {
    width: 8rem !important;
}

.img-9x {
    width: 9rem !important;
}

.img-10x {
    width: 10rem !important;
}

.img-services {
    width: 320px;
}