$primary: #3319a6 !important;
$secondary: #28157c !important;
$success: #06d6a0 !important;
$info: #ff9d15 !important;
$light: #F9F9F9 !important;
$dark: #120a34 !important;
$whatsapp: #25d366 !important;
$transparent: transparent !important;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "light": $light,
  "dark": $dark,
  "whatsapp": $whatsapp,
  "transparent": $transparent,
);